Flask==3.0.2
gunicorn==21.2.0
opencv-python-headless==4.9.0.80
pillow==10.2.0
PyMuPDF==1.23.26
PyMuPDFb==1.23.22
PyPDF2==3.0.1
pyzbar==0.1.9
reportlab==4.1.0
waitress==3.0.0
Werkzeug==3.0.1
